<mat-toolbar >
    <span>Office Man</span>
    <span class="spacer"></span>
    <button mat-flat-button (click)=" addOffice()">Add Office</button>
</mat-toolbar>
<ng-container *ngIf="dataservice.offices">
    <mat-card class="example-card" *ngFor="let office of dataservice.offices|async ;">
        <mat-grid-list cols="4">
            <mat-grid-tile class="iconTile" colspan="1" rowspan="2" style="background-color: blue;"
                routerLink="/office/{{office.id}}">
                <mat-icon>people_alt</mat-icon>
            </mat-grid-tile>
         
            <mat-grid-tile colspan="2" rowspan="1">
                <div class="office-name">   {{office.name}}</div>
                
                <div class="office-address">Address</div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1">
                <button mat-icon-button [matMenuTriggerFor]="menu" a>
                    <mat-icon class="people-icon">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <span class="menu-edit">edit</span>
                        <mat-icon class="menu-edit-icon" (click)="onEdit()">edit</mat-icon>
                    </button>
                    <button mat-menu-item>
                        <span class="menu-remove">remove</span>

                        <mat-icon class="menu-remove-icon">remove_circle</mat-icon>
                    </button>
                </mat-menu>

            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="1">
                <div class="email">@mail.com</div>
                
                <mat-icon class="phone-icon
                ">local_phone</mat-icon> <div class="tell">
                    0211</div>
            </mat-grid-tile>
        </mat-grid-list>

    </mat-card>
</ng-container>