.save-button{
    /* background-color: blue; */
}
.close-button{
    position: absolute;
    top: 37%;
    right: 11%;
}
label{
    position: absolute;
    top: 39%;
    font-size: large;
    font-weight: 400;
    text-align: 37%;
    text-align: center;
    left: 35%;
}
H2 { text-align: center }
